{% extends 'base.html' %}
{% block title %}
bade | Нүүр
{% endblock title %}
{% block content %}
<div class="container-fluid bg-info"><h1>Өнөөдрийн Америк долларын ханш {{ханш}}₮</h1>
{% if name %}
<h5>Hello {{ name }}!</h5>
{% endif %}
<h5>Батдэлгэрийн нас {{ нас }}</h5>
</div>
<div class="container">
    <div class="row">
        <div class="col-3 mx-auto">
            <form class="form-inline" method="post">
                <div class="form-group mb-2">
                    <label for="staticEmail2" class="sr-only">Email</label>
                    <input type="text" readonly class="form-control-plaintext" id="staticEmail2"
                           value="Ханш">
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <input type="text" class="form-control" placeholder="Зөвхөн тоо оруулна" name="name">
                </div>
                <button type="submit" class="btn btn-primary mb-2">Хөрвүүлэх</button>
            </form>
            <h1>{{дүн}}₮</h1>
            <h1>{{ro}}</h1>
            <h1>{{euro}}</h1>
            <img src="{{url_for('static', filename='images/dollar.jpg')}}" alt="">
            {% endblock content %}
        </div>
    </div>
</div>
<!--</div>-->
<!--<div class="container">-->
<!--        <img src="{{url_for('static', filename='images/dollar.jpg')}}" alt="">-->
<!--    </div>-->
<!--</div>-->
