<nav class="navbar navbar-expand-sm bg-light">
    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href={{ url_for('index')}}>Нүүр</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href={{ url_for('game')}}>Тоглоом</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href={{ url_for('voice')}}>Дуу хоолой</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href={{ url_for('login')}}>Нэвтрэх</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href={{ url_for('about')}}>Тухай</a>
        </li>
    </ul>
</nav>